# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Epsic.GitHub.Actions.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Document\Epsic\Module 151\GitHubActions\Epsic.GitHub.Actions\.idea\.idea.Epsic.GitHub.Actions\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
